@media screen and (min-width:  765px){
body{
	/*background: #E6E6E6 ; */
}
.table a{
color: black;
text-align: center;
}
#contenedor{
margin: 0 auto;
border-radius: 0.5em;
margin-top: 7%;
/*border:red 2px solid;*/
width: 60%;

}


#principal,#listado{
border-radius: 0.5em;
display: inline-block;  /*los alinie en el mismo bloque*/
margin: 0 auto;
max-width: 70%;
padding: 0.25em;
vertical-align: top;
width: 20%;
text-align: left;
float: none;
text-align: center;
/*opacity: 0.5;*/

}

#listado{
background: white;
width: 70%;
margin-left: 250px;
/*margin-top: 8px;*/
}


}
th,td{
	border:none;
}
#hri,#asis{
width: 20%;
}
#dp{
	width: 100%;
}


/*color de fondo, onMauseOVer*/
.table.header tr:not(:first-child):hover, .table:not(.header) tr:hover {
    background:#A6A6A6;
    cursor: default;
}
.table tr:nth-child(2n){/*Estilo tipo zembra para la tabla*/
	background: #EEEEEE;
}
.table tr:nth-child(2n+1){/*Estilo tipo zembra para la tabla*/
	background: #cde1e8;
}
}