section#contenedor{
margin: 0 auto;
max-width: 80;
text-align: center;
border-radius: 0.5em;
margin-top: 7%;

}


section#principal,aside{
background: white;
border-radius: 0.5em;
display: inline-block;  /*los alinie en el mismo bloque*/
margin: 0 auto;
max-width: 70%;
padding: 0.25em;
vertical-align: top;
width: 20%;
text-align: left;

/*opacity: 0.5;*/

}



aside{
	background: white;
width:63%;
}

